@font-face {
	font-family: Source Han Sans CN;
	src: url("font/SourceHanSansCN-Regular.ttf");
}
.warp {
	width: 100%;
}
.container {
	width: 960px;
	height: 1900px;
	background-color: rgba(255,255,255,1);
	margin: 0 auto;
}
.container-title {
	position: relative;
	height: 344px;
	width: 960px;
	background: #FE6601;
}
.container-title .title-img {
	width: 99.5px;
	height: 38px;
	margin: 15.5px 662px 290.5px 198.5px;
}
.container-title .title-list {
	position: absolute;
	display: flex;
	left: 670.5px;
	top: 28.5px;
	width:98px;
	height:8px;
	font-size:8px;
	font-family:Source Han Sans CN;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:11px;
}
.container-title .title-list li {
	justify-content: space-between;
	transform: scale(.6);
}
.container-title .title-first h3 {
	position: absolute;
	left: 199px;
	top: 133px;
	width:197px;
	height:23px;
	font-size:22px;
	font-family:Source Han Sans CN;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:28px;
}
.container-title .title-first p {
	position: absolute;
	left: 199px;
	top: 170.5px;
	width:200px;
	height:12px;
	font-size:12px;
	font-family:Source Han Sans CN;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:14px;
	opacity:0.8;
}
.container-title .title-first .img1 {
	position: absolute;
	left: 197px;
	top: 211.5px;
	width: 67.5px;
	height: 20px;
}
.container-title .title-first .img2 {
	position: absolute;
	left: 281.5px;
	top: 211.5px;
	width: 67.5px;
	height: 20px;
}
.container-title .title-first .img3 {
	position: absolute;
	left: 501.5px;
	top: 56px;
	width: 164px;
	height: 308.5px;
}
.container-title .tablist li {
	position: absolute;
	top: 423px;
	width:184px;
	height:134px;
	background:rgba(255,255,255,1);
	box-shadow:2px 11px 70px 0px rgba(0,52,74,0.18);
	border-radius:11px;
}
.container-title .tablist li:nth-child(1) {
	left: 198.5px;
}
.container-title .tablist li:nth-child(2) {
	left: 389px;
}
.container-title .tablist li:nth-child(3) {
	left: 579.5px;
	box-shadow:2px 11px 30px 0px rgba(0,52,74,0.18);
}
